header{
    text-align: center;
    padding-bottom: 20px;
}

html, body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


body{
  padding: 20px 20px 20px 20px; /* top right bottom left*/
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: center;
  margin-left: center;
  width: 100vw;
  min-height: calc(100vh - 100px);
  scroll-behavior: smooth;
  background-color: #999999;
  justify-content: center;
  align-items: stretch;
  display: flex;
  min-height: 100vh;
}

.page-container{
    max-width: 900px;
    width: 100%; /* relative unit; responsive width */
    margin: 0; /* top right bottom left*/
    padding: 20px 20px 70px;
    background-color: white;
    box-sizing: border-box;
    flex-direction: column;
}

hr{
    background-color: black;
    width: 90%;
    height: 1.5px;
    border: none;
}

main{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 20px 20px 80px 20px; /*top right bottom left */
}

footer{
    text-align: center;
}


/* 
body{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;

